* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: "Knewave", "Comic sans Ms", cursive;
    font-size: 1.2rem;
    overflow: hidden;
    background-color: black;
}
#canvas {
    position: relative;
    background-color: black;
}
.score {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    min-width: 40%;
    top: 10px;
    right: 5px;
}
.score__text {
    white-space: nowrap;
}
#current-score, #best-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #b87623;
    border: 1px solid #000;
    border-radius: 1rem;
    height: 6vh;
    font-size: 1rem;
}
#screen-msg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: black;
    font-size: 2.5em;
    text-align: center;
    color: #b87623;
    top: 0;
    left: 0;
}
#previous-animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    font-size: 3.5rem;
    text-align: center;
    color: #b87623;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    animation: none;
}
#start-animation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: scale(1,1);
}
.start {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start__spinner {
    overflow: hidden;
    overflow: inherit;
    animation: 400ms cubic-bezier(0.35, 0.3, 0.32, 0.99) 100ms 15 alternate move;
    color: #b87623;
    text-shadow: 3px 3px 3px black;
    font-size: 3rem;
}
.start__spinner--1 {
    animation-delay: 50ms;
}
.start__spinner--2 {
    animation-delay: 100ms;
}
.start__spinner--3 {
    animation-delay: 150ms;
}
.start__spinner--4 {
    animation-delay: 200ms;
}
.start__spinner--5 {
    animation-delay: 250ms;
}
.start__spinner--6 {
    animation-delay: 300ms;
}
.start__spinner--7 {
    animation-delay: 350ms;
}
.start__spinner--8 {
    animation-delay: 400ms;
}
.start__spinner--9 {
    animation-delay: 450ms;
}
.start__spinner--10 {
    animation-delay: 500ms;
}
.start__spinner--11 {
    animation-delay: 550ms;
}
.start__spinner--12 {
    animation-delay: 600ms;
}
@keyframes disappear {
    0% {
        z-index: 1;
        opacity: 1;
    }
    60% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}
@keyframes move {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    60% {
        transform: translateY(10px);
        opacity: 0.9;
    }
    100% {
        transform: translateY(14px);
        opacity: 1;
    }
}